body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: #E6E6FA;
}

.content {
    margin: 0 auto;
    width: 1300px;
}

table, td, th {
    border: 1px solid #aaa;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 24px;
}

#content {
    width: 70%;
}